<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
</head>

<header>
    <p><a href="http://localhost:8080/account" th:text="${authorized}">Username</a>
        <a href="http://localhost:8080/account/all"> All Users</a></p><br>
    <hr>
</header>
<body>
    <form th:method="POST" th:action="@{/post/new}" th:object="${newPost}">
        <p>Create Post:</p>
        <label for="title">Enter title: </label>
        <input type="text" th:field="*{title}" id="title">
        <br>
        <label for="imageUrl">Enter imageUrl: </label>
        <input type="text" th:field="*{imageUrl}" id="imageUrl">
        <br>
        <label for="text">Enter text: </label>
        <input type="text" th:field="*{text}" id="text">
        <br>
        <label for="price">Enter price: </label>
        <input type="text" th:field="*{price}" id="price">
        <br>
        <input type="submit" value="Create">
    </form>
    <hr>


<div th:each="post : ${posts}">
    <a th:href="@{/post/{id}(id=${post.getId()})}">
        <h4 th:text="${post.getTitle()}"></h4>
        <div th:unless="${(post.getImageUrl().equals(''))}">
            <img th:src="${post.getImageUrl()}" alt="no" height="200">
        </div>
    </a>
    <hr>
</div>

</body>
</html>