<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Username Page</title>
</head>
<header>
    <p><a href="http://localhost:8080/account" th:text="${authorized}">Username</a>    <a href="http://localhost:8080/post">Posts</a>
        <a href="http://localhost:8080/account/all">  All Users</a></p> <br><hr>
</header>
<body>

<p th:text="'Id:' + ${user.getId()}"></p>
<p th:text="'Username:' + ${user.getUsername()}"></p>
<p th:text="'E-mail:' + ${user.getEmail()}"></p>

<br><hr>

<div th:each="post : ${posts}">
    <a th:href="@{/post/{id}(id=${post.getId()})}">
        <p th:text="${post.getTitle()}"></p>
        <div th:unless="${(post.getImageUrl().equals(''))}">
            <img th:src="${post.getImageUrl()}" alt="no" height="200">
        </div>
    </a>
    <hr>
</div>

</body>
</html>